.home {
  height: 100vh;
  background-image: url('/fondohome.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.encabezado {
  display: flex;
  width: 100%;
  height: 20vh;
}

.idioma {
  width: 40%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 60%;
  display: flex;
  justify-content: center;
  background-color: white;
  border-end-start-radius: 20%;
}

.titulo {
  height: 30vh;
  text-align: right;
  margin: 30px;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 30vh;
}

.botonesHome {
  height: 75px;
  width: 300px;
  border-radius: 20px;
}

.btTour {
  background-color: #2D7CF3;
  color: white;
}

.btLogin {
  background-color: white;
  color: #2D7CF3;
}

.contenedorlinks {
  display: flex;
  gap: 10px;
  justify-content: center;
  height: 10vh;
  align-items: center;
}

.links {
  height: 40px;
  width: 40px;
}

.homefoot {
  text-align: center;
  height: 10vh;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.login {
  background-image: url('/fondologin.png');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.contenedorlogoLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.logoLogIn {
  border-radius: 50%;
  height: 75%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.bienvenido {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loginputs {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20vh;
  align-items: center;
}

.contenedorinput {
  position: relative;
}

.contenedorinput input {
  background-color: white;
  height: 50px;
  width: 350px;
  border-radius: 10px;
  border: none;
  color: #072A60;
  font-weight: bolder;
  font-size: large;
}

.contenedorinput img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
}

.contenedoriniciarsesion {
  height: 10vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.contenedoriniciarsesion button {
  background-color: #2D7CF3;
  color: white;
  width: 350px;
  font-size: larger;
}

.contenedorolvidarcontra {
  height: 5vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

hr {
  width: 350px;
}

.contenedorregistro {
  height: 10vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.contenedorregistro button {
  background-color: #45BD4A;
  color: white;
  width: 300px;
  border-radius: 30px;
  height: 50px;
}

.signininputs {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh;
  align-items: center;
}

.terminos {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slide {
  min-width: 100%;
  height: 100vh;
  flex-shrink: 0;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.tour1 {
  height: 100vh;
  background-image: url('/tour1fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tour2 {
  height: 100vh;
  background-image: url('/tour2fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tour3 {
  height: 100vh;
  background-image: url('/tour3fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tour4 {
  height: 100vh;
  background-image: url('/tour4fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.back-btn {
  background: none;
  height: 5vh;
}

.dashboardfondo {
  height: 100vh;
  background: linear-gradient(to bottom, #072A60, #5181CA);
  display: flex;
  flex-direction: column;
}

.dashboardhead {
  height: 15vh;
  display: flex;
}

.logohead {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opchead {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.contenedor1dashboard {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor2dashboard {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor3dashboard {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: none;
  border: none;
  color: white;
}

.nav-item:hover {
  color: #000;
}

.testfondo {
  height: 100vh;
  background-image: url('/testfondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.contenedortest {
  height: 10vh;
  text-align: center;
  align-content: center;
  font-size: larger;
  font-weight: bolder;
  padding-left: 50px;
  padding-right: 50px;
}

.textotest {
  height: 20vh;
  font-size: large;
  font-weight: bold;
  text-align: center;
  align-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

.botonesTest {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.botonesTest button {
  height: 60px;
  width: 300px;
}

.botontest1 {
  background-color: #2D7CF3;
}

.botontest2 {
  background-color: #500652;
}

.botontest3 {
  background-color: #000;
}

.iti__search-input {
  background-color: white;
  color: black;
}

.iti__country {
  color: black;
  background-color: white;
}

.encuestafondo {
  height: 100vh;
  background: linear-gradient(to bottom, #072A60, #5181CA);
  display: flex;
  flex-direction: column;
}

.numpreguntaencuesta {
  height: 5vh;
  text-align: center;
  align-content: center;
  font-size: larger;
  font-weight: bolder;
}

.preguntaencuesta {
  height: 10vh;
  text-align: center;
  align-content: center;
  font-size: x-large;
  font-weight: bolder;
}

.opcionesencuesta {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.opcionesencuesta button {
  height: 15%;
  width: 70%;
  font-weight: bolder;
  font-size: large;
}

.puntaje {
  height: 100vh;
  background-image: url('/fondopuntaje.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.iglesia {
  height: 100vh;
  background-image: url('/iglesiafondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.iglesiahead {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: larger;
}

.gestion {
  height: 100vh;
  background-image: url('/gestionfondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.contenedorgestion {
  height: 80vh;
}

.contenedorgestion div {
  height: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.contenedorgestion div button {
  background-color: white;
  width: 40%;
  height: 60%;
  color: #072A60;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedorgestion div button img {
  height: 50%;
}

.visitasolicitar {
  height: 100vh;
  background-image: url('/solicitarvisita.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.iglesiahead img {
  height: 50%;
  border-radius: 50%;
}

.contenedortipovisita {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedortipovisita select {
  height: 75%;
  width: 75%;
  background-color: white;
  color: #000;
  font-size: larger;
  border-radius: 20px;
  border: none;
}

.contenedorhorariovisita {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedorhorariovisita input {
  height: 75%;
  width: 75%;
  background-color: white;
  color: #000;
  font-size: larger;
  border-radius: 20px;
  border: none;
}

.contenedorresumen {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedorresumen textarea {
  height: 75%;
  width: 75%;
  background-color: white;
  color: #000;
  font-size: 150%;
}

.contenedorenviar {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedorenviar button {
  height: 75%;
  width: 75%;
  background-color: #2D7CF3;
  color: white;
}

.pedidosoracion {
  height: 100vh;
  background-image: url('/pedidosoracion.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.programarvisita {
  height: 100vh;
  background-image: url('/programarvisita.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.contenedorProgramarVisita {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.contenedorProgramarVisita select {
  height: 7.5%;
  width: 75%;
  background-color: white;
  color: #000;
  border-radius: 10px;
}

.contenedorProgramarVisita input {
  background-color: white;
  color: #000;
  width: 75%;
  height: 7.5%;
  border: none;
  border-radius: 10px;
}

.contenedorProgramarVisita div {
  display: flex;
  height: 7.5%;
  gap: 20%;
}

.contenedorProgramarVisita textarea {
  height: 30%;
  width: 75%;
  background-color: white;
  color: #000;
  border-radius: 10px;
}

.contenedorProgramarVisita button {
  background-color: #2D7CF3;
  color: white;
  width: 75%;
  height: 7.5%;
}

.testimonio {
  height: 100vh;
  background-image: url('/testimoniosfondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.contenedorbotonestestimonio {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.contenedorbotonestestimonio button {
  background-color: white;
  color: #000;
  display: flex;
  gap: 5%;
}

.contenedorentrada {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vh;
}

.contenedorentrada textarea {
  background-color: white;
  color: #000;
  height: 75%;
  width: 75%;
}

.contenedorentrada button {
  background-color: white;
  color: #000;
}

.contenedorenviartestimonio {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedorenviartestimonio button {
  background-color: #2D7CF3;
  color: white;
  height: 50%;
  width: 50%;
}

.amistad {
  height: 100vh;
  background-image: url('/amistadfondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.datosIglesia {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.datosIglesia div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0F2F61;
  height: 60%;
  width: 25%;
  border-radius: 20px;
}

.cantidadIglesia {
  font-size: x-large;
}

.factorescantidad {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.factorescantidad div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
  width: 100%;
  gap: 10%;
}

.factorescantidad div div {
  height: 75%;
  width: 15%;
  border-radius: 20%;
  font-size: x-large;
  font-weight: bolder;
}

.datoFactor1 {
  background-color: #F32D39;
}

.datoFactor2 {
  background-color: #F38C2D;
}

.datoFactor3 {
  background-color: #45BD4A;
}

.datoFactor4 {
  background-color: #2D94F3;
}

.contenedorfoto {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.contenedorfoto img {
  height: 60%;
  border-radius: 50%;
}

.admincont1 {
  background-color: #EDF4F8;
  height: 85%;
  width: 85%;
  color: #072A60;
  border-radius: 50px;
}

.admincont1 img {
  height: 50%;
  border-radius: 50%;
  border: #000;
  border-color: #000;
  border-style: double;
}

.miembrocont2 {
  background-color: #EDF4F8;
  height: 85%;
  width: 85%;
  color: #072A60;
  border-radius: 50px;
}

.dashboardgestiontitulo {
  height: 10%;
  text-align: center;
  font-weight: bolder;
}

.dashboardgestioninfo {
  height: 90%;
  display: flex;
}

.dashboardgestioninfo1 {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dashboardgestioninfo1 div {
  display: flex;
  align-items: center;
  height: 25%;
  gap: 5%;
  margin-left: 10%;
  font-weight: bold;
}

.dashboardgestioninfo1 div img {
  height: 50%;
}

.dashboardgestioninfo2 {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dashboardgestioninfo2 div {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.migrupo {
  height: 100vh;
  background-image: url('/grupofondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contenedor {
  height: 20vh;
  display: flex;
  justify-content: center;
  gap: 2.5%;
}

.card {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.titulo {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 150%;
  text-align: center;
}

.circulo {
  height: 50%;
  aspect-ratio: 1 / 1;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #184281;
  font-weight: bolder;
  font-size: 200%;
}

.rojo {
  background-color: #EF7077;
}

.verde {
  background-color: #3BEBD6;
}

.amarillo {
  background-color: #E3C318;
}